/*************************************************
* Reset
*************************************************/

html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {	margin: 0;	padding: 0;	border: 0;	outline: 0;	font-size: 100%; vertical-align: baseline;	background: transparent; } html{height: 100%;} body { line-height: 1; height: 100%; } ol, ul { list-style: none; } blockquote, q { quotes: none; } text-decoration: none; } del { text-decoration: line-through; } table { border-collapse: collapse; border-spacing: 0; } a img{ border: 0px; }article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {display: block;}.cf:before, .cf:after {content: " ";display: table;}.cf:after {clear: both;}cf{*zoom: 1;}

/*************************************************
* Bliscy zdrowiu
*************************************************/

@font-face {
	font-family: 'ProximaNovaSoft-Bold';
	src: url('../fonts/2443B5_0_0.eot');
	src: url('../fonts/2443B5_0_0.eot?#iefix') format('embedded-opentype'),
	url('../fonts/2443B5_0_0.woff') format('woff'),
	url('../fonts/2443B5_0_0.ttf') format('truetype');
}

@font-face {
	font-family: 'Icon';
	src:url('../fonts/Icon.eot');
	src:url('../fonts/Icon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Icon.svg#Icon') format('svg'),
		url('../fonts/Icon.woff') format('woff'),
		url('../fonts/Icon.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body{
	background: #262627;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 12px;
	color: #414042;
}

a{
	text-decoration: none;
	color: #2b67b9;
}

a:hover{
	text-decoration: underline;
}

.bolded {
	font-weight: bold;
}

.half-sized {
	width:48%;
	float: left;
	box-sizing: border-box;
}

#wrrap{
	background: #fff;
	padding: 0 0 41px;
}

#main{
	width: 990px;
	margin: 0 auto;
}

#main > header{
	height: 150px;
	position: relative;
}	

#logo{
	display: block;
	height: 118px;
	width: 395px;
	overflow: hidden;
	background: url('../img/logo.png') no-repeat top left;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 5;
	text-indent: -999em;
}

#logo:hover{
	text-decoration: none;
}

#logo span{
	display: block;
	font-size: 14px;
	line-height: 14px;
	letter-spacing: 2px;
	margin: 3px 0 0 0;
}

#top-search-form{
	width: 330px;
	text-align: right;
	position: absolute;
	right: 0;
	top: 15px;
}

input[type="text"],
input[type="password"],
input[type="email"]{
	font-size: 14px;
	line-height: 19px;
	height: 19px;
	width: 186px;
	padding: 7px 16px;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: normal;
	color: #939598;
	border: solid 1px #acabab;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 0 8px #bcbcbc;
	-moz-box-shadow: inset 0 0 8px #bcbcbc;
	box-shadow: inset 0 0 8px #bcbcbc;
	vertical-align: top;
}

#top-search-form input[type="text"]{
	margin: 0 9px 0 0;
}

#top-search-form input[type="submit"]{
	border: solid 1px #acabab;
	background: #c3bfb6;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 14px;
	line-height: 14px;
	text-transform: uppercase;
	width: 86px;
	height: 35px;
	padding: 0;
	vertical-align: top;
}

#top-search-form input[type="submit"]:hover{
	cursor: pointer;
}

#login-signup{
	display: inline-block;
	position: absolute;
	right: 10px;
	top: 69px;
}

#login-signup li{
	display: inline-block;
	margin: 0 0 0 12px;
	font-size: 14px;
}

#login-signup a{
	color: #a91c65;
}

#login-signup li:last-child a{
	color: #414042;
}

#login-signup.logout a{
	color: #a91c65 !important;
}

nav{
	background: #2b67b9;
	height: 35px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	position: absolute;
	bottom: 17px;
	width: 100%;
}

nav ul{
	margin: 0 0 0 97px;
	position: relative;
	z-index: 10;
}

nav ul li{
	display: inline-block;
	margin: 0 5px 0 0;
}

nav ul li:last-child{
	margin: 0;
}

nav a{
	color: #fff;
	font-size: 20px;
	line-height: 35px;
	font-family: 'ProximaNovaSoft-Bold';
	padding: 4px 14px 5px;
	border: solid 1px transparent;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

nav a:hover,
nav a.current{
	text-decoration: none;
	background: #3575cc;
	border: solid 1px #1c5eb8;
	padding: 7px 14px 7px;
}

footer{
	width: 990px;
	margin: 0 auto;
	overflow: hidden;
	padding: 26px 0;
}

footer div{
	width: 165px;
	float: left;
	margin: 0 0 30px;
}

footer h2{
	font-size: 17px;
	line-height: 17px;
	color: #fff;
	font-family: 'ProximaNovaSoft-Bold';
	margin: 0 0 25px;
	font-weight: normal;
}

footer div ul li{
	display: block;
	margin: 0 0 10px;
}

footer a{
	font-size: 14px;
	line-height: 14px;
	color: #fff;
}

footer .fb-like-box{
	float: right;
	width: 292px;
	height: 370px;
}

footer .fb-like-box > span{
	background: #fff;
}

footer > p{
	clear: both;
	color: #b5af09;
	margin: 0 0 13px;
}

footer > ul{
	text-align: center;
}

footer > ul > li{
	display: inline-block;
	margin: 0 18px 5px 0;
}

footer > ul > li:last-child{
	margin-right: 0;
}

#home-page > div{
	width: 649px;
	float: left;
	margin: 0 0 35px;
}

#home-page > div div{
	background: #b4a315;
	border: solid 1px #ddd577;
	border-top: none;
	overflow: hidden;
	margin: -2px 0 0 0;
	padding: 23px 20px;
}

#home-page > div h1{
	font-size: 28px;
	line-height: 28px;
	font-family: 'ProximaNovaSoft-Bold';
	font-weight: normal;
	color: #fff;
	margin: 0 0 10px;
}

#home-page > div p{
	color: #fff;
	font-size: 14px;
	line-height: 19px;
	margin: 0;
}

#search-form{
	width: 252px;
	float: right;
	background: #a0135b;
	color: #fff;
	padding: 30px 33px;
	-webkit-border-radius: 11px;
	-moz-border-radius: 11px;
	border-radius: 11px;
}

#search-form h2{
	font-family: 'ProximaNovaSoft-Bold';
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	margin: 0 0 15px;
}

#search-form div{
	margin: 0 0 18px;
	overflow: hidden;
}

#search-form div:last-child{
	margin: 0;
	text-align: center;
}

#search-form label{
	display: block;
	margin: 0 0 5px;
}

#search-form input[type="text"]{
	width: 218px;
}

#search-form input.small{
	width: 90px;
	float: left;
}

#search-form div input.small:last-child{
	margin: 0 0 0 4px;
}

#search-form select{
	width: 250px;
	height: 36px;
	display: block;
	overflow: hidden;
}

#search-form input[type="submit"]{
	display: block;
	width: 194px;
	height: 45px;
	padding: 4px 0 0 0;
	margin: 0 auto 6px;
	font-family: 'ProximaNovaSoft-Bold';
	font-weight: normal;
	font-size: 18px;
	line-height: 18px;
	color: #414042;
	text-transform: uppercase;
	background: #cecac0;
	border: solid 2px #d7d3c9;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}

#home-page > ul{
	clear: both;
	overflow: hidden;
}

#home-page > ul > li{
	display: block;
	width: 320px;
	padding: 0;
	height: 106px;
	overflow: hidden;
	float: left; 
	border-left: dotted 1px #cfcdc3;
	position: relative;
}

#home-page > ul > li h2{
	font-family: 'ProximaNovaSoft-Bold';
	font-weight: normal;
	font-size: 20px;
	line-height: 20px;
	margin: 0 0 23px 95px;
}

#home-page > ul > li p{
	color: #333132;
	font-size: 13px;
	line-height: 18px;
	margin: 0 0 0 95px;
}

#home-page > ul > li:before{
	display: block;
	width: 95px;
	float: left;
	font-family: 'Icon';
	position: absolute;
}

#home-page > ul > li.groups{
	border: none;
}

#home-page > ul > li.groups:before{
	content: 'h';
	color: #207d0e;
	font-size: 79px;
	top: 40px;
	left: 0;
}

#home-page > ul > li.groups h2 a{
	color: #207d0e;
}

#home-page > ul > li.disease:before{
	content: 't';
	color: #ab1a62;
	font-size: 97px;
	top: 60px;
	left: 29px;
	-webkit-transform: rotate(30deg);
	-moz-transform: rotate(30deg);
	-ms-transform: rotate(30deg);
	-o-transform: rotate(30deg);
	margin: 0;
}

#home-page > ul > li.disease h2 a{
	color: #ab1a62;
}


#home-page > ul > li.cure:before{
	content: 'b';
	font-size: 74px;
	color: #b4a315;
	left: 18px;
	top: 36px;
}

#home-page > ul > li.cure h2 a{
	color: #b4a315;
}


.left-column{
	width: 650px;
	margin: 0 19px 0 0;
	float: left;
}

section{
	border-bottom: solid 1px #bcbec0;
}

.left-column section{
	margin: 0 0 23px;
}

.left-column section:last-child{
	border: none;
}

.left-column p{
	font-size: 12px;
	line-height: 17px;
	margin: 0 0 19px;
}

.right-column{
	width: 320px;
	float: left;
}

.right-column h2{
	margin: 0 0 20px;
}

p.success{
	color: #0a8510;
	font-size: 14px;
	line-height: 19px;
	margin: 0 0 30px;
}

p.source{
	text-align: right;
	font-size: 11px;
	line-height: 11px;
}

.left-column .users-list{
	border: none;
}

.users-list > ul > li{
	width: 221px;
	height: 90px;
	float: left;
	position: relative;
	margin: 0 0 21px;
}

.users-list > ul > li div{
	padding: 0;
	border: solid 1px transparent;
}

.users-list > ul > li:nth-child(3n){
	width: 208px;
}

.users-list > ul > li div img{
	float: left;
	margin: 0 0 16px;
}

.users-list > ul > li div span{
	display: block;
	margin: 0 0 4px 100px;
	line-height: 16px;
}

.users-list > ul > li div span.name{
	font-weight: bold;
}

.users-list > ul > li .online,
.users-list > ul > li .offline{
	display: none;
}

.users-list > ul > li div p, 
.users-list > ul > li div ul{
	display: none
}

.users-list > ul > li div:hover{
	background: #e5e1d8;
	width: 348px;
	border: solid 1px #d3cfc6;
	position: absolute;
	z-index: 10;
	padding: 16px;
}

.users-list > ul > li.no-tooltip div:hover{
	display: none;
}

.users-list > ul > li div:hover p{
	display: block;
	clear: both;
	line-height: 19px;
	margin: 0 0 19px;
}

.users-list > ul > li div:hover .online,
.users-list > ul > li div:hover .offline{
	display: block;
}

.users-list > ul > li div:hover ul{
	display: block;
	line-height: 19px;
	margin: 0 0 18px;
}

.users-list > ul > li div:hover ul li{
	display: inline;
}

.users-list > ul > li div:hover ul li:first-child{
	color: #a0135b;
	font-weight: bold;
}

.users-list  ul.interactions > li{
	display: block !important;
	width: 125px !important;
	padding: 0 !important;
	float: right;
}

.users-list  ul.interactions > li:first-child{
	float: left;
}

.users-list  ul.interactions > li:first-child > a{
	font-weight: normal;
}

.users-list  ul.interactions a img{
	margin: 4px 5px 0 0;
}

#search-form{
	margin: 0 0 40px;
}

.right-column section{
	margin: 0 0 19px;
}

.right-column > section:last-child{
	border: none;
}

.right-column h2{
	font-family: 'ProximaNovaSoft-Bold';
	font-weight: normal;
	font-size: 20px;
	line-height: 20px;
}

.discusions h2{
	color: #2e4ea2;
	margin: 0 0 37px 74px;
}

.discusions:before{
	content:'d';
	font-family: 'Icon';
	font-size: 51px;
	color: #2e4ea2;
	float: left;
	margin: 10px 0 0 0;
}

.discusions p{
	font-weight: bold;
	font-size: 12px;
	line-height: 18px;
	margin: 0 0 30px;
}

.discusions p span{
	display: block;
	font-weight: normal;
	font-size: 11px;
	line-height: 12px;
	margin: 5px 0 0;
}

.discusions.new h2,
.discusions.new:before{
	color: #beb928;
}


.discusions.new .more a{
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	color: #beb928;
	font-weight: normal;
}

.discusions p a.group-name{
	color: #414042;
}

.discusions.talk .more a{
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: normal;
}



.disease h2{
	color: #beb928;
	margin: 24px 0 37px 74px;
}

.disease:before{
	content:'t';
	font-family: 'Icon';
	font-size: 78px;
	color: #beb928;
	float: left;
	margin: 11px 0 0 17px;
	-webkit-transform: rotate(30deg);
	-moz-transform: rotate(30deg);
	-ms-transform: rotate(30deg);
	-o-transform: rotate(30deg);
}

.disease p{
	line-height: 18px;
	margin: 0 0 13px;
}

.disease p strong{
	font-family: 'ProximaNovaSoft-Bold';
	font-weight: normal;
	font-size: 14px;
}

p.more{
	text-align: right;
}

.disease .more a{
	color: #beb928;
}

.cure{
	border: none;
}

.cure h2{
	color: #a61962;
	margin: 32px 0 47px 74px;
}

.cure:before{
	content:'b';
	font-family: 'Icon';
	font-size: 64px;
	color: #a61962;
	float: left;
	margin: 10px 0 0 3px;
}

.cure a{
	color: #a61962;
}

.cure li{
	font-size: 14px;
	margin: 0 0 8px;
}

.pagination{
	text-align: center !important;
	clear: both !important;
	margin: 0 0 20px !important;
	padding: 15px 0 0 0 !important;
}

.pagination li{
	display: inline-block !important;
	margin: 0 2px !important;
	overflow: visible !important;
	line-height: auto !important;
}

.pagination li.first,
.pagination li.prev{
	float: left !important;
	margin: 0 24px 0 0 !important;
}

.pagination li.next,
.pagination li.last{
	float: right !important;
	margin: 0 0 0 24px !important;
}

.pagination a{
	color: #414042 !important;
	font-size: 14px !important;
	line-height: 14px !important;
	font-weight: bold !important;
	text-decoration: none !important;
}

.pagination a.current{
	-webkit-border-radius: 10px !important;
	-moz-border-radius: 10px !important;
	border-radius: 10px !important;
	background: #a0135b !important;
	color: #fff !important;
	padding: 0 5px !important;
}

.pagination .first a,
.pagination .last a{
	font-weight: normal !important;
}

.pagination a:hover{
	text-decoration: underline !important;
}

.generic-form > div{
	overflow: hidden;
	margin: 0 0 12px;
}

.generic-form label,
#new_post label,
#new_topic label {
	display: block;
	width: 155px;
	float: left;
	margin: 0 20px 0 0;
	text-align: right;
	font-size: 14px;
	line-height: 22px;
	padding: 7px 0;
}

.generic-form label span {
	display: block;
	font-size: 12px;
}
.generic-form > div > input,
.generic-form select{
	margin: 0 0 5px;
	width: 220px;
}

.generic-form select{
	width: 254px;
}

.generic-form > div > p{
	margin: 0 0 0 175px;
	font-size: 11px;
	line-height: 15px;
}

.generic-form .zip input{
	width: 150px;
}

.generic-form .checkbox label,
.generic-form .form-inline label,
.generic-form .radio label{
	display: inline-block !important;
	float: none !important;
	font-size: 11px !important;
	margin: 0 !important;
	width: auto !important;
	text-align: left !important;
}

.generic-form .checkbox input,
.generic-form  .radio input{
	width: auto;
	margin: 0 5px 0 175px;
}

.generic-form input[type="submit"]{
	margin: 0 0 0 175px;
	padding: 0 0 4px;
}

.generic-form > div.submit{
	margin: 40px 0 0 0;
}


.button-red{
	color: #fff;
	font-size: 18px;
	font-family: 'ProximaNovaSoft-Bold';
	font-weight: normal;
	background: #ad1b63;
	text-transform: uppercase;
	display: inline-block;
	width: 200px;
	text-align: center;
	border: solid 1px #871c5c;
	height: 46px;
	line-height: 46px;
	padding: 4px 0 0;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	cursor: pointer;
}

.button-red:hover{
	background: #9d1259;
	text-decoration: none;
}

.button-red:active{
	-webkit-box-shadow: inset 0 0 8px #740e41;
	-moz-box-shadow: inset 0 0 8px #740e41;
	box-shadow: inset 0 0 8px #740e41;
}

#community .generic-form{
	margin: 0 0 208px;
}

.partners{
	border-top: solid 1px #bcbec0;
	padding: 12px 0 0 0;
}

.partners.no-logos{
	border: none;
	padding: 0;
}

.partners h2{
	font-size: 14px;
	line-height: 14px;
	font-weight: bold;
	margin: 0;
}

.partners ul{
	height: 82px;
	overflow: hidden;
	margin: 0 0 27px;
}

.partners ul li{
	display: inline-block;
	float: left;
	margin: 0 44px 0 0;
}

.partners ul a.ptd{
	display: inline-block;
	width: 189px;
	height: 82px;
	overflow: hidden;
	text-indent: -999em;
	background: url('../img/community-partners.png') no-repeat 0 0;
}

.partners ul a.unicorn{
	display: inline-block;
	width: 120px;
	height: 82px;
	overflow: hidden;
	text-indent: -999em;
	background: url('../img/community-partners.png') no-repeat -234px 0;
}

.partners ul a.dkms{
	display: inline-block;
	width: 123px;
	height: 82px;
	overflow: hidden;
	text-indent: -999em;
	background: url('../img/community-partners.png') no-repeat -412px 0;
}

.partners p{
	background: #dcd9d3;
	padding: 20px;
	font-size: 11px;
	line-height: 16px;
}

.left-column h1,
.left-column h2,
#forum + h2, 
#forum + h2 + h3,
#topic > h3 a{
	color: #a6175f;
	font-size: 18px;
	font-family: 'ProximaNovaSoft-Bold';
	font-weight: normal;
	margin: 0 0 20px;
	position: relative;
}

.left-column h1 span,
.left-column h2 span{
	font-size: 17px;
	font-weight: normal;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.big-search{
	border-bottom: solid 1px #bcbec0;
	padding: 0 0 10px;
	margin: 0 0 23px;
}

.big-search p{
	font-size: 14px;
	line-height: 20px;
	margin: 0 0 22px;
}

.big-search p:last-child{
	font-size: 11px;
	line-height: 12px;
}

.big-search div{
	margin: 0 0 15px;
}

.big-search input{
	width: 506px;
}

.big-search a{
	text-decoration: underline;
	font-weight: bold;
}

.big-search a:hover{
	text-decoration: none;
}

#disease-stats li{
	overflow: hidden;
	font-size: 14px;
	line-height: 19px;
	margin: 0 0 18px;
}

#disease-stats li .name {
	display: block;
	width: 429px;
	float: left;
}

#disease-stats .percentages{
	float: left;
}

#disease-stats li .name .users{
	color: #414042;
	margin: 0 0 0 8px;
}

.percentages{
	color: #2e851d;
	font-weight: bold;
	display: inline-block;
	width: 42px;
	margin: 0 13px 0 0;
}

.progress{
	display: inline-block;
	width: 166px;
	height: 15px;
	background: #e4e1da;
	position: relative;
	top: 2px;
	overflow: hidden;
}

.progress span{
	display: block;
	float: left;
	height: 15px;
	background: url('../img/stats-progres.png') repeat-x;
}

.login-box{
	padding: 0 0 35px;
}

.login-box span{
	display: block;
	font-size: 12px;
	margin: 6px 0 0 0;
}

.users-list header{
	margin: 0 0 20px;
}

.users-list h2{
	color: #207d0e;
	margin: 0;
}

.users-list header span{
	display: block;
	font-weight: normal;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 17px;
	color: #207d0e;
	margin: 6px 0;
}

.users-list header a{
	font-size: 12px;
	line-break: 12px;
	text-decoration: underline;
}

.users-list header a:hover{
	text-decoration: none;
}


.stats{
	margin: 17px 0 20px;
}

.stats th,
.stats td{
	text-align: left;
	font-weight: bold;
	padding: 0 0 0 22px;
	vertical-align: top;
	height: 40px;
}

.stats td{
	font-weight: normal;
}

.stats tr th:first-child,
.stats tr td:first-child{
	padding: 0;
}

.stats .age{
	width: 100px;
}

.stats .symptoms{
	width: 155px;
}

.stats a{
	font-weight: bold;
	display: inline-block;
	margin-top: 5px;
}

.stats .progress{
	width: 75px;
	margin: 0 7px 0 0;
}

.stats .rating{
	float: left;
	font-weight: bold;
	color: #000;
	margin: 5px 5px 0 0;
}

.stats .text{
	display: inline-block;
	padding: 5px 0 0 0;
	font-weight: bold;
}


[class^="bs-stars-"]{
	display: block;
	height: 16px;
	width: 94px;
}

.bs-stars-1{ background: url('../img/bs-stars.png') no-repeat 0 0; }
.bs-stars-2{ background: url('../img/bs-stars.png') no-repeat 0 -16px; }
.bs-stars-3{ background: url('../img/bs-stars.png') no-repeat 0 -32px; }
.bs-stars-4{ background: url('../img/bs-stars.png') no-repeat 0 -48px; }
.bs-stars-5{ background: url('../img/bs-stars.png') no-repeat 0 -64px; }

.stats [class^="bs-stars-"]{
	margin: 0 0 4px 31px;
}

.stats .rating-count{
	margin: 0 0 0 27px;
	color: #808285;
	font-size: 9px;
	line-height: 9px;
}

.disease-support h2{
	color: #b5af09;
}

#register #new-user-form{
	margin: 0 0 190px;
}

#register h1,
#after-register h1, #login h1{
	color: #207d0e;
	margin: 0 0 30px;
}

#breadcrumbs{
	margin: 0 0 30px;
}

#breadcrumbs li{
		display: inline-block;
		margin: 0 0 0 4px;
}

#breadcrumbs li:first-child{
	margin: 0;
}

#breadcrumbs li:before{
	content: '>';
	display: inline-block;
	margin: 0 4px 0 0;
}

#breadcrumbs li:first-child:before{
	content:'';
	display: none;
}

#breadcrumbs a{
	color: #414042;
}	

.profile-details{
	margin: 0 0 23px;
}

.profile-details img{
	float: left;
}

.profile-details h1{
	margin: 0 0 10px 230px;
	color: #207d0e;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: bold;
}

.profile-details ul{
	margin: 0 0 15px 230px;
}

.profile-details ul li{
	display: block;
	margin: 0 0 6px;
}

.profile-details p{
	margin: 0 0 6px 230px;
	line-height: 18px;
}

.profile-details p.more{
	margin: 0 0 10px 230px;
}

.profile-details p strong{
	color: #2b67b9;
	font-weight: bold;
}

.online:before{
	content: '';
	display: inline-block;
	width: 11px;
	height: 11px;
	background: #25af0a;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin: 0 5px 0 0;
	position: relative;
	top: 1px;
}

.offline:before{
	content: '';
	display: inline-block;
	width: 11px;
	height: 11px;
	background: #808285;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin: 0 5px 0 0;
	position: relative;
	top: 1px;
}

.profile-diseases{
	margin: 0 0 45px;
}

.profile-diseases ul{
	width: 190px;
	margin: 0 25px 0 0;
	float: left;
	line-height: 18px;
}

.profile-diseases ul li{
	display: inline;
}

.profile-diseases .primary li:first-child{
	display: block;
	color: #a91c65;
	font-weight: bold;
}

.profile-diseases .other li:first-child{
	color: #3c8d2c;
}

.profile-diseases .other-cure li:first-child{
	color: #b5af09;
}

.chart-box h1{
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: bold;
	line-height: 24px;
}

.chart-box h1 span{
	font-weight: normal;
	font-size: 17px;
}

#profile .add-disease {
	text-align: center;
	margin: 0 0 35px;
}

#profile .add-disease a{
	display: block;
	background: #2763b6;
	color: #fff;
	text-transform: uppercase;
	border: solid 1px #16509e;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width: 160px;
	text-align: center;
	margin: 15px auto 0;
	padding: 10px 0;
}

.disease-item {
	border-bottom: solid 1px #bcbec0;
	margin: 0 0 25px;
}

section .disease-item:last-child{
	margin: 0;
	border: none;
}

.disease-item h2{
	line-height: 24px;
}

.disease-item ul{
	margin: 0 0 30px;
}

.disease-item ul li{
	display: block;
	float: right;
	margin: 0 0 0 12px;
	line-height: 14px;
	position: relative;
	top: 1px;
}

.disease-item ul li:first-child{
	float: left;
	margin: 0 12px 0 0;
	font-size: 14px;
	top: 0;
}

.disease-item ul li a{
	text-decoration: underline;
	color: #2e4ea2;
}

.disease-item ul li a:hover{
	text-decoration: none;
}

.disease-item .more{
	margin: 0 0 40px;
}

.user-activity h1{
	color: #9c1c60;
	margin: 0 0 40px;
}

.user-activity h3{
	color: #207d0e;
	font-size: 12px;
	line-height: 12px;
	margin: 0 0 8px;
}

.user-activity a{
	text-decoration: underline;
	color: #2e4ea2;
}

.user-activity a:hover{
	text-decoration: none;
}

.user-activity ul{
	margin: 0 0 24px;
}

.user-activity li{
	display: block;
	line-height: 18px;
	margin: 0 0 10px 0;
	overflow: hidden;
}

.user-activity li img{
	float: left;
	margin: 0 10px 5px;
}

.user-activity div{
	margin: 0 0 21px;
}

.user-activity div a{
	text-decoration: none;
	color: #414042;
}

.user-activity div a:hover{
	text-decoration: underline;
}

.user-activity div .prev{
	float: left;
}

.user-activity div .next{
	float: right;
}

.button-grey,
#new_post input[type=submit],
#new_topic input[type=submit],
#topic > h3 + a{
	color: #000;
	font-family: 'ProximaNovaSoft-Bold';
	font-weight: normal;
	text-transform: uppercase;
	line-height: 12px;
	background: #c3bfb6;
	border: solid 1px #acabab;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 13px 24px;
}

.followers ul{
	margin: 0 0 25px;
}

.followers{
	border-bottom: 1px solid #bcbec0 !important;
	padding: 0 0 10px;
}

.hugs-list > ul > li{
	display: block;
	border-bottom: solid 1px #e6e7e8;
	margin: 0 0 22px;
}

.hugs-list > ul > li:last-child{
	border: none;
}

.hugs-list .users-list{
	float: left;
}

.hugs-list .description{
	width: 408px;
	margin: 0 0 0 21px;
	float: left;
}

.hugs-list .description p{
	margin: 0 0 5px;
}

.hugs-list .description > strong{
	display: block;
	margin: 0 0 5px;
}

.chart{
	margin: 0 0 70px;
	height: 220px;
	overflow: hidden;
}

#health-rate h3{
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 14px;
	line-height: 14px;
	margin: 0 0 5px;
}

#slider {
	width: 629px !important;
	margin: 0 auto 15px !important;
	height: 7px !important;
	background: #a01f5d;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2EwMWY1ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzJhNzQ3ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiY2FlMzUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(left,  #a01f5d 0%, #2a747e 50%, #bcae35 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#a01f5d), color-stop(50%,#2a747e), color-stop(100%,#bcae35));
	background: -webkit-linear-gradient(left,  #a01f5d 0%,#2a747e 50%,#bcae35 100%);
	background: -o-linear-gradient(left,  #a01f5d 0%,#2a747e 50%,#bcae35 100%);
	background: -ms-linear-gradient(left,  #a01f5d 0%,#2a747e 50%,#bcae35 100%);
	background: linear-gradient(to right,  #a01f5d 0%,#2a747e 50%,#bcae35 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a01f5d', endColorstr='#bcae35',GradientType=1 );
}

#slider a{
	display: block !important;
	height: 27px !important;
	width: 27px !important;
	background: url('../img/slider.png') no-repeat transparent !important;
	border: none;
	top: -10px;
	cursor: pointer;
}

#slider-data{
	width: 629px;
	margin: 0 auto 30px;
	position: relative;
	height: 12px;
}

.slider-0{
	color: #a01f5d;
	font-weight: bold;
}

.slider-25{
	color: #645a96;
	font-weight: bold;
	position: absolute;
	left: 25%;
}

.slider-50{
	color: #25706f;
	font-weight: bold;
	position: absolute;
	left: 50%;
}

.slider-75{
	color: #4d853d;
	font-weight: bold;
	position: absolute;
	left: 75%;
}

.slider-100{
	color: #bbae36;
	font-weight: bold;
	position: absolute;
	right: 0;
}

#slider-data .worst{
	color: #a01f5d;
	position: absolute;
	left: 0;
	font-weight: bold;
	top: 15px;
}

#slider-data .best{
	color: #bbae36;
	position: absolute;
	right: 0;
	font-weight: bold;
	top: 15px;
}

#health-rate input[type="submit"]{
	background: #1b6c0c;
	display: block;
	color: #fff;
	text-transform: uppercase;
	border: solid 1px #145b06;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width: 88px;
	text-align: center;
	margin: 15px auto 33px;
	padding: 10px 0;
}

.green-list h2{
	color: #227e10;
}

.green-list ul{
	margin: 0 0 20px;
}

.green-list a{
	color: #227e10;
	text-decoration: underline;
	font-size: 14px;
}

.green-list li{
	display: block;
	margin: 0 0 5px;
}

.green-list a:hover{
	text-decoration: none;
}

.green-list.groups:before{
	content: 'h';
	font-family: 'icon';
	color: #207d0e;
	font-size: 79px;
	float: left;
	margin: 31px 8px 20px 0;
}

.green-list.groups h2{
	position: relative;
	top: 16px;
}

.green-list.groups ul{
	clear: both;
}

.users-list.featured h2{
	color: #a91c65;
}

#profile .stats a{
	font-weight: normal !important; 
}

/* opinie o leczeniu */
.treatment-grades h3 {
	font-weight: normal;
	font-size:16px;
	color: #A6175F;
	margin-top: 24px;
}

.grades-legend {
	padding-bottom: 36px;	
}

.grades-legend dt {
	margin-top: 15px;
	margin-bottom: 8px;
}

.grades-legend h3 {
	font-weight: normal;
	font-size: 16px;
}

.grades-legend .half-sized:first-child {
	padding-right: 20px;
}
	
.users-grades .users-list {
	float: left;
}

.users-grades  > ul > li{
	display: block;
	border-bottom: solid 1px #e6e7e8;
	margin: 0 0 22px;
}

.users-grades  > ul > li:last-child{
	border: none;
}


.users-grades  .description{
	width: 408px;
	margin: 0 0 0 21px;
	float: left;
}

.users-grades  .description p{
	margin: 0 0 5px;
}

.users-grades .description dt, 
.users-grades .description dd { 
	display: block;
	float: left;
	margin: 0 0 21px 0;
}

.users-grades .description dd:after {
	content: '\A';
	white-space: pre;
}

.users-grades .description dt {
	width: 109px;
	padding-right: 10px;
	box-sizing: border-box;
	line-height: 16px;
	font-weight: bold;
}

.users-grades .description dd {
	width: 285px;
	height: 16px;
}

.users-grades .description p {
	padding-right: 100px;
	margin-bottom: 20px;
}

.login-box p {
	margin-top: -30px;
	margin-bottom: 20px;
	font-size: 14px;
	line-height: 22px;
	padding-right: 50px;
}

.watermark {
	background: #fff url(../img/watermark.png) no-repeat center right;
}

#about-us-list h2 {
	font-size: 14px;
	padding-left: 22px;
	cursor: pointer;
}

#about-us-list li {
	position: relative;
}

#about-us-list h2:after  {
	content: '>';
	display: block;
	position: absolute;
	top: -2px;
	left:0;
	background-color: #A6175F;
	color: #fff;
	width: 17px;
	height: 17px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	text-align: center;
	line-height: 17px;
}

#about-us-list h2.expanded:after{
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
}

.help {
	position:relative;
}

.help h2{
	color: #A6175F;
	margin: 0 0 37px 74px;
}

.help:before{
	content:'';
	display: block;
	height: 59px;
	width: 57px;
	background: url(../img/pomoc.png) no-repeat 0 0;
	position:absolute;
	top:-17px;
	left:0;
}

.help p{
	font-size: 14px;
	line-height: 20px;
	margin: 0 0 36px;
}

#error500, #error404 {
	text-align:center;
	padding-bottom:40px;
}

#error500 img, #error404 img {
	display:block;
	margin: 44px auto 0;
}


#error500 h1  {
	color: #b4a315;
}

#error404 h1  {
	color: #A6175F;
}

#error500 h1, #error404 h1 {
	margin: 43px 0 26px 0;
	text-align: center;
	font-size:18px;
}

#error500 a, #error404 a {
	text-decoration: underline;
	font-size:12px;
}

#my-illnesses .stats {
	width:100%;
}
	
.pink-list h2{
	color: #A0135B;
}

.pink-list ul{
	margin: 0 0 20px;
}

.pink-list a{
	color: #A0135B;
	font-size:14px;
	line-height:18px;
	display: block;
	text-decoration: underline;
}

.pink-list li{
	display: block;
	margin: 0 0 5px;
}

.pink-list a:hover{
	text-decoration: none;
}

#alike .followers{
	border-bottom: none !important;
	border-top: 1px solid #BCBEC0;
	margin: 0;
	padding: 20px 0 0 0;
}

#alike .followers ul{
	margin: 0;
}



#alike .green-list + .discusions::before,
#public-profile .featured + .discusions::before {
	content: 's';
}

/*[class^="face-"],  [class*=" face-"]*/
.profile-details[class^="face-"] h1,
.profile-details[class*=" face-"] h1 {
	display:inline-block;
	position: relative;
	margin-left: 20px;
	max-width: 370px;
	line-height: 22px;
}

.profile-details[class^="face-"] h1:after,
.profile-details[class*=" face-"] h1:after {
	content: '';
	display:inline-block;
	width:43px;
	height:40px;
	background: url(../img/faces.png) no-repeat 0 0;
	position:absolute;
	right: -50px;
	top:0;
}


.profile-details.face-2  h1:after{ background-position: 0 -41px; } 
.profile-details.face-3  h1:after{ background-position: 0 -82px;  } 
.profile-details.face-4  h1:after{ background-position: 0 -123px;  } 
.profile-details.face-5  h1:after{ background-position: 0 -164px;  } 
.profile-details.face-6  h1:after{ background-position: 0 -205px;  } 
.profile-details.face-7  h1:after{ background-position: 0 -246px;  } 
.profile-details.face-8  h1:after{ background-position: 0 -287px;  } 
.profile-details.face-9  h1:after{ background-position: 0 -328px;  } 
.profile-details.face-10  h1:after{ background-position: 0 -369px;  } 
.profile-details.face-11  h1:after{ background-position: 0 100%;  }

#alike .groups ul ,
#public-profile .groups ul{ 
	padding-top: 10px; 
}

#public-profile .stats {
	width:100%;
}

#login .generic-form a{
	margin-left: 175px;
}

#change-default-sickness .radio input{
	margin: 0 5px 0 25px;
}

#sickness-one .more {
	margin: 0;
	padding: 0;
	position: relative;
	top: -15px;
}

#sickness-one .big-search{
	border-bottom: none !important;
	border-bottom: solid 1px #bcbec0;
	padding: 0 0 10px;
	margin: 0 0 23px;
}

#sickness-one .left-column > h1 {
	float: left;
}

#sickness-one .generic-form label{
	width: 260px;
}

.generic-form .form-inline {
	width: 93px;
	float: left;
	margin-right: 20px; 
}

.generic-form select.form-inline {
	line-height: 38px;
	height:36px;
	padding: 1px;
}

.form-inline.checkbox-wrapper {
	width: 110px;
	line-height: 38px;
}

.form-inline.button {
	display:inline-block;
	width:auto;
}
.button  {
	color: #fff;
	font-family: ProximaNovaSoft-Bold;
	font-weight: normal;
	text-transform: uppercase;
	line-height: 12px;
	border: 1px solid #ACABAB;
	border-radius: 5px;
	padding: 13px 24px;
}

.button:hover{
	text-decoration: none;
}

.button.blue {
	background-color: #2764b7;
	border-color: #16509e;
	color: #fff;
}

.button.blue:hover {
	background-color: #19519c;
}

.button:active,
*[class^="button-"]:active,
input[type=submit]:active {
	-moz-box-shadow:    inset 0 0 10px rgba(0,0,0,0.38);
	-webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.38);
	box-shadow:         inset 0 0 10px rgba(0,0,0,0.38);
}

.button.yellow {
	background-color: #b4ac09;
	border-color: #a39c07;
}

.button.yellow:hover {
	background-color: #a49d08;
}

.button.green {
	background-color: #207d0e;
	border-color: #145b06;
	color: #fff;
}

.button.green:hover {
	background-color: #176208;
}

.date-picker-wrapper{
	padding-left: 280px;
}

.info-box {
	padding: 18px 23px;
	background-color: #e5e1d8;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin: 20px 0;
}

.info-box.success, 
.info-box.error {
	font-size: 14px;
	text-align:center
}

.info-box.success p  {
	background: url(../img/info-box-success.png) no-repeat left top;
	padding-top:9px;
	padding-bottom:9px;
	color: #3c8d2c;
}

.info-box.error p  {
	background: url(../img/info-box-error.png) no-repeat left top;
	padding-top:10px;
	padding-bottom:10px;
	color: #2b67b9;
}

.info-box.success p,
.info-box.error p {
	padding-left: 50px;
	display:inline-block;
}

.info-box.info p{
	padding-left: 50px;
	margin-bottom: 10px;
}

.info-box.info div {
	min-height:39px;
	overflow: hidden;
}

.info-box.info.green-icon div {
	background: url(../img/info-box-info-green.png) no-repeat left top;
}

.info-box.info.pink-icon div {
	background: url(../img/info-box-info-pink.png) no-repeat left top;
}

.info-box.info.red div {
	background: url(../img/info-box-info-red.png) no-repeat left top;
	color: #ff0000;
}

.float-left {
	float:left;
	margin-right:20px;
}


.tooltip {
	position: relative;
}

.tooltip .question-mark {
	display: inline-block;
	width:30px;
	height:30px;
	background: url(../img/question.png) no-repeat 0 0;
	text-indent: -99999px;
	margin: 20px 0;
}

.tooltip .question-mark:hover + div{
	display:block;
}

.tooltip div {
	display:none;
	padding: 17px;
	background-color: #e5e1d8;
	position: absolute;
	top: -10px;
	left: 46px;
	width: 221px;
	min-height: 57px;
}

.tooltip div:before {
	content: '';
	display:block;
	position:absolute;
	top: 35px;
	left: -10px;
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-right: 10px solid #e5e1d8;
	border-bottom: 10px solid transparent;
}

.tootlip p{
	line-height: 20px;
}


.sample-buttons a {
	display:block;
	float:left;
	clear:both;
	margin: 10px 0;
}

.button-grey.big {
	height: 19px;
	line-height: 19px; 
	color: #414042;
	font-size:18px;
	text-align: center;
	min-width:196px;
}

.button-red:hover {
	background: #a3175c;
	background: -moz-linear-gradient(top,  #a3175c 0%, #890d4d 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a3175c), color-stop(100%,#890d4d));
	background: -webkit-linear-gradient(top,  #a3175c 0%,#890d4d 100%);
	background: -o-linear-gradient(top,  #a3175c 0%,#890d4d 100%);
	background: -ms-linear-gradient(top,  #a3175c 0%,#890d4d 100%);
	background: linear-gradient(to bottom,  #a3175c 0%,#890d4d 100%);
}


.button-grey:hover,
#topic > h3 + a:hover {
	background: #d5d1c8;
	background: -moz-linear-gradient(top,  #d5d1c8 0%, #b6b2a9 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d5d1c8), color-stop(100%,#b6b2a9));
	background: -webkit-linear-gradient(top,  #d5d1c8 0%,#b6b2a9 100%);
	background: -o-linear-gradient(top,  #d5d1c8 0%,#b6b2a9 100%);
	background: -ms-linear-gradient(top,  #d5d1c8 0%,#b6b2a9 100%);
	background: linear-gradient(to bottom,  #d5d1c8 0%,#b6b2a9 100%);
	text-decoration:none;

}

.textarea-wrapper label,
#sickness-one .generic-form .textarea-wrapper label{
	width: 100%;
	text-align: left;
	font-weight: bold;
}

textarea {
	padding:10px;
	border: 1px solid #ACABAB;
	border-image: initial;
	border-radius: 4px;
	-webkit-box-shadow: #BCBCBC 0px 0px 8px inset;
	box-shadow: #BCBCBC 0px 0px 8px inset;
}

#sickness-one {
	padding-bottom: 40px;
}

#give-support .cos {
	padding-top:20px;
	border-top: 1px solid #BCBEC0;
}

#give-support textarea{
	width: 508px;
}

.profile-image {
	position:relative;
	padding-bottom: 30px;
}

.profile-image input[type=text] {
	margin-left:10px;
}

.profile-image input,
.profile-image a {
	display: inline-block;
	position: relative;
	margin-left: 20px;
	max-width: 370px;
}



.profile-image .button.blue {
	width: 108px;
	height: 11px;
	overflow: hidden;
	position: absolute;
	text-align:center;
	line-height: 11px;
	padding-top: 11px;
	padding-bottom: 11px;
	top:0;
	right:0;
}

.profile-image .button.blue input {
	font-size:100px;
	opacity:0;
	position:absolute;
	top:0;
	left:0;
}

.default-sickness strong,
.default-sickness a{
	display: inline-block;
	font-size: 14px;
	line-height: 22px;
	padding: 7px 0;
}

.default-sickness a{
	margin-left: 30px;
	text-decoration: underline;
}

.radio-wrapper input,
.radio-wrapper input + label {
	padding: 7px 0;
	display: inline-block;
	line-height: 22px;
}

#edit-profile .left-column section{
	border-bottom: none;
}

#edit-profile form{
	padding-bottom: 30px; 
}

.hug-icon {
	width: 95px;
	background-image: url(../img/hugs-icons.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	padding-top:95px;
	text-align: center;
	display: inline-block;
}

.hug-icon.bandage {
	background-position: 1px 0;
}

.hug-icon.prayer {
	background-position: 0 -149px;
}

.hug-icon.hug {
	background-position: 0 -296px;
}

.hug-icon.high-five {
	background-position: 0 -442px;
}

.hug-icon.congratulations {
	background-position: 0 -580px;
}

.hug-icon.celebration {
	background-position: 6px -735px;
}

.hug-icon.flowers {
	background-position: 0 -883px;
}

.hug-icon.gift {
	background-position: 0 -1032px;
}

.hug-icon.fingers-crossed {
	background-position: 0 -1166px;
}

.hug-icon.blue,
.blue {
	color: #2f68b2;
}

.hug-icon.pink,
.pink {
	color: #bc4480;
}

.hug-icon.yellow{
	color: #b5a533;
}

.hug-icon.green,
.green,
h1.green {
	color: #129045;
}

.hugs-icons li{
	float: left;
	margin: 5px;
}

.hugs-icons input[type=radio]{
	display: block;
	margin: 5px auto;
}

.hug-icon strong{
	margin-top:5px;
	margin-bottom:5px;
	display: inline-block;
}

.hugs-icons {
	border-top: 1px solid #BCBEC0;
	border-bottom: 0;
	padding-top: 20px;
	overflow:hidden;
}

.hugs-icons .textarea-wrapper label {
	width:100%;
	float:none;
	font-weight: normal;
	text-align: left;
	margin: 30px 0 10px 0;
}

.hugs-icons .textarea-wrapper img {
	display:block;
	float:left;
	margin-right: 20px;
}	

.hugs-icons .textarea-wrapper {
	margin-bottom: 0;
}

.hugs-icons .generic-form .checkbox input  {
	margin: 0px 5px 0px 123px;
}

.hugs-icons div.submit {
	margin-top: 0;
	float:right;
	position:relative;
	top: -35px;
}

.hugs-icons div.submit input {
	width: 120px;
	height: 40px;
	line-height: 40px;
	font-size:14px;
}

#give-support .hugs-list {
	border-bottom: 0;
}

.hugs-list .hug-icon {
	float:left;
	margin: 0 10px 10px 10px; 
	
}

.hugs-list .hug-icon ~ .description {
	width: 293px;
}

.hugs-numbers strong,
.hugs-numbers span {
	font-size:14px;
}

.hugs-numbers .hug-icon {
	display: block;
	margin: 0 auto;
}

.hugs-numbers li {
	text-align: center;
	margin: 20px 0 30px;
}

.hugs-numbers .hug-icon strong {
	font-size:12px;
}

.hugs-numbers p{
	font-size: 14px;
	margin: 10px 0;
}

#sickness-two .left-column, 
#sickness-three .left-column {

	width: 100%;
	position:relative;
}

#sickness-two .row  > div {
	float:left;
}

#sickness-two .row  > div:first-child {
	width: 265px;
	padding-right: 18px;
}

#sickness-two .row > div:first-child  input {
	width: 228px;
}

#sickness-two .radio-wrapper label{
	padding:0;
}

#sickness-two .radio-wrapper {
	position: relative;
	top:-2px;
	width:  180px;
}

#sickness-two .sickness-timing label{
	float:left;
	padding-right:10px;
	line-height: 36px;
	width: auto !important;
	margin: 0 !important;
}

#sickness-two .row,
#sickness-three .row{
	padding: 38px 0 26px;
	border-top: 1px solid #bcbec0;
}

#sickness-two .row:first-child,
#sickness-three .row:first-child,
#support-group-search .row:first-of-type{
	border-top: none;
}

#sickness-two .left-column > p,
#sickness-three .left-column > p{
	width: 537px;
}


#sickness-two .generic-form .button.green {
	width: auto ;
	padding: 13px 24px;
	float: right;
	margin-left:20px;
	line-height:12px;
}

#sickness-two .save {
	width: 450px;
	position: absolute;
	top:0;
	right:0;
}

#sickness-two .submit-buttons-wrapper p{
	margin: 0 0 30px;
	width:520px;
	text-align: left;
}

.submit-buttons-wrapper {
	text-align: center;
}

#sickness-two .save p {
	margin:0;
	padding:0;
	text-align: right;
	font-size: 14px;
	width: auto;
}

#sickness-two .generic-form input[type="submit"],
#sickness-three .generic-form input[type="submit"]{
	margin: 0 10px;
	height: 46px;
	line-height: 46px;
}

#sickness-three .half-sized strong{
	display: block;
	width: 155px;
	float: left;
	margin: 0px 20px 0px 0px;
	text-align: left;
	font-size: 14px;
	line-height: 22px;
	padding: 0;
}	

#sickness-three .stats,
#sickness-three .half-sized p {
	padding-left: 175px;
	margin-bottom: 10px;

}

#sickness-three h2{
	color:#414042;
}

#sickness-three .row{
	padding-top: 20px;
}	
	
#sickness-three .submit-buttons-wrapper{
	border-top: 1px solid #BCBEC0;
	padding-top:40px;
}	

#change-password .generic-form a {
	margin-left: 175px;
}

#change-password h1{
	width:422px;
	line-height: 22px;
}	

#change-password .button.button-grey.big {
	height: 46px;
	line-height: 46px;
}

#change-password .info-box{
	padding: 19px;
}

#change-password .info-box p{
	margin: 0;
}

#change-password .info-box{
	margin-top: 178px;
}

#support-group-search .left-column p{
	width: 509px;
	font-size: 14px;
	line-height: 18px;
}

#support-group-search .big-search {
	border-bottom: none;
	margin-top: 50px;
}

#support-group-search .row {
	border-top: 1px solid #BCBEC0;
	padding: 10px 0;
}

#support-group-search .grey{
	color: #a5a7a9;
}

#support-group-search .row p{
	margin: 0;
	font-size: 12px;
}

#support-group-search .row a{
	text-decoration: underline;
	font-size: 14px;
	padding-bottom: 5px;
	display: block;
}

#support-group-search .big-search + ul{
	margin-bottom: 50px;
	padding-right: 50px;
}

#support-group-search .left-column ul + p {
	font-size: 12px;
}

#support-group-view  .button-wrapper .button.green {
	float: right;
}

#support-group-view  .button-wrapper .button.grey {
	color: #262627;
}

.forums.subdued,
.topics.subdued {
	width:650px;
	margin-top: 20px;
}

.forums.subdued td, 
.forums.subdued th,
.topics.subdued td, 
.topics.subdued th{
	padding: 10px;
	padding-left:0;
	text-align: left;
	vertical-align: middle;
}

.forums.subdued td:first-child, 
.topics.subdued td:first-child {
	width: 330px;
}

.forums.subdued span,
.topics.subdued span {
	display: inline-block;
	margin-bottom: 5px; 
}

.forums.subdued p,
.topics.subdued p {
	margin-bottom:0;
}

.forums.subdued a,
.topics.subdued a{
	text-decoration: underline;
	font-size: 14px;
	margin-bottom: 7px;
	display: block;
}

.forums.subdued .description,
.topics.subdued .description {
	margin: 5px 0;
}

.forums.subdued tbody td,
.topics.subdued tbody td {
	border-bottom: 1px solid #BCBEC0;
}

#profile .right-column .users-list .more{
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
	margin: 0px 0px 36px;
}

.profile-diseases-list .disease-item.last{
	border: none;
}

.profile-diseases-list .more{
	margin-bottom: 30px;
}



#posts {
	margin: 20px 0;
}

#posts .icon {
	float:left;
}

#posts .post {
	position:relative;
}

#posts .username {
	position:absolute; 
	top:0;
	left: 100px;
}

#posts .contents {
	padding-left: 100px;
	padding-top: 50px;
	line-height: 16px;
}

#posts .contents time {
	margin: -40px 0 40px;
	display:block;
	color: #c6c6c6;
}

#posts .contents > a:first-child:hover {
	color: #c6c6c6;
}

#posts .actions {
	position:absolute;
	right:0;
	top:0;
	text-align:right;
}

#posts .actions a {
	text-decoration: underline;
}

#posts .actions a:after {
	content: '\00BB';
	display: inline-block;
	margin-left: 2px;
}

#posts .post {
	margin-bottom:20px;
	padding-bottom:20px;
	border-bottom: 1px solid #bcbec0;
}

#new_post textarea,
#new_topic textarea {
	width: 780px;
}

#new_post input[type=submit],
#new_topic input[type=submit] {
	margin-left: 175px;
	margin-top:20px;
}

#forum_topic_links {
	margin:20px 0;
	padding:0;

}


#forum_topic_links a:before {
	content: '\00AB';
	display: inline-block;
	margin-left: 2px;
}

#new_topic div.input {
	clear:both;
	overflow:hidden;
	margin: 25px 0;
}

#new_topic input[type=submit] {
	margin-top:0;
}

.field_with_errors{
	display: inline;
}

.fake-select{
	display: inline-block;
	font-size: 14px;
	line-height: 19px;
	height: 19px;
	padding: 7px 16px;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: normal;
	color: #939598;
	border: solid 1px #acabab;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 0 8px #bcbcbc;
	-moz-box-shadow: inset 0 0 8px #bcbcbc;
	box-shadow: inset 0 0 8px #bcbcbc;
	text-align: left;
	position: relative;
	overflow: hidden;
}

.fake-select select{
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	height: 35px !important;
	line-height: 35px !important;
	opacity: 0;
}

.sickness-timing .fake-select{
	float: left;
	margin: 0 5px 0 0;
}

.tagit{
	position: relative;
	margin: 0 0 18px;
	padding: 7px 16px;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: normal;
	color: #939598;
	border: solid 1px #acabab;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 0 8px #bcbcbc;
	-moz-box-shadow: inset 0 0 8px #bcbcbc;
	box-shadow: inset 0 0 8px #bcbcbc;
	background: #fff;
}

.tagit .ui-autocomplete{
	position: absolute !important;
	top: 100% !important;
	left: -1px !important;
	background: #fff;
	width: 252px !important;
	border-top: solid 1px #BCBEC0;
}

.tagit-parent-box{
	overflow: visible !important;
}

.tagit .ui-autocomplete a{
	display: block;
	padding: 5px 10px;
	line-height: 16px;
	border: solid 1px #BCBEC0;
	border-top: none;
}

.tagit .ui-autocomplete a:hover,
.tagit .ui-autocomplete a.ui-state-hover{
	text-decoration: none;
	background: #3575CC;
	color: #fff;
	cursor: pointer;
	border-color: #1C5EB8;
}

.tagit .tagit-choice{
	background: #c3bfb6;
	color: #414042;
	font-size: 12px;
	line-height: 14px;
	padding: 5px 9px;
	margin: 0 5px 5px 0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	display: inline-block;
}

.tagit .tagit-choice a{
	color: #414042;
	display: inline-block;
	margin: 0 0 0 10px;
	font-size: 14px;
	line-height: 14px;
}

.tagit .tagit-choice a:hover{
	text-decoration: none;
	color: #fff;
	cursor: pointer;
}

.tagit input{
	border: none !important;
	padding: 0 !important;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.tagit input:focus{
	border: none;
	outline: none;
}

#forums_container  h1{
	color: #129045;
	font-size: 18px;
	font-family: ProximaNovaSoft-Bold;
	font-weight: normal;
	margin: 20px 0px 20px;
	position: relative;
}

input.support_groups_search {
	display: none;
}

#topic > h3 + a {
	display: inline-block;
	margin: 20px 0;
	position: relative;
	left: 90%;
}

#topic > h2 {
	color: #A6175F;
	font-size: 14px;
	font-family: ProximaNovaSoft-Bold;
	font-weight: normal;
	margin: 0px 0px 20px;
	position: relative;
}

#topic menu{
	padding-left: 0;
}	